html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --amplify-primary-color: #abe1fa;
  --amplify-primary-tint: tomato;
  --amplify-primary-shade: #e0573e;
  --amplify-background-color: #e0faf4;
}

amplify-authenticator {
  width: 100%;
  background: blue;
  padding: 5px;
}
