@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --amplify-primary-color: #abe1fa;
  --amplify-primary-tint: tomato;
  --amplify-primary-shade: #e0573e;
  --amplify-background-color: #e0faf4;
}

amplify-authenticator {
  width: 100%;
  padding: 5px;
}
